services:
  # ============================================
  # API Gateway - PROVIDED COMPLETE
  # ============================================
  gateway:
    build: ./gateway
    ports:
      - "3000:3000"
    depends_on:
      - user-service
      - product-service
      - order-service
    networks:
      - app-network

  # ============================================
  # User Service + Database - PROVIDED COMPLETE
  # Use this as a reference for the services you build!
  # ============================================
  user-service:
    build: ./user-service
    ports:
      - "3001:3001"
    environment:
      DB_HOST: user-db
      DB_PORT: 5432
      DB_NAME: userdb
      DB_USER: postgres
      DB_PASSWORD: postgres
    depends_on:
      - user-db
    networks:
      - app-network

  user-db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: userdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - user-data:/var/lib/postgresql/data
      - ./user-service/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network


product-service:
  build: ./product-service
  ports:
    - "3002:3002"
  environment:
    DB_HOST: product-db
    DB_PORT: 5432
    DB_NAME: productdb
    DB_USER: postgres
    DB_PASSWORD: postgres
  depends_on:
    - product-db
  networks:
    - app-network
  
product-db:
  image: postgres:15-alpine
  environment:
    POSTGRES_DB: productdb
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
  volumes:
    - product-data:/var/lib/postgresql/data
    - ./product-service/init.sql:/docker-entrypoint-initdb.d/init.sql
  networks:
    - app-network
 


order-service:
  build: ./order-service
  ports:
    - "3003:3003"
  environment:
    DB_HOST: order-db
    DB_PORT: 5432
    DB_NAME: orderdb
    DB_USER: postgres
    DB_PASSWORD: postgres
  depends_on:
    - order-db
    - user-service
    - product-service
  networks:
    - app-network

order-db:
  image: postgres:15-alpine
  environment:
    POSTGRES_DB: orderdb
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
  volumes:
    - order-data:/var/lib/postgresql/data
    - ./order-service/init.sql:/docker-entrypoint-initdb.d/init.sql
  networks:
    - app-network


networks:
  app-network:
    driver: bridge

volumes:
  user-data:
  # TODO: Add volumes for product-data and order-data
  product-data:
  order-data:
